.employees-list-is-empty {
  font-size: 1.5em;
}
.no-employees-this-month {
  font-size: 1.2em;
}
.month-title {
  font-size: 1.5em;
}
.full-user-info {
  font-size: 1em;
}
.birthdays-block-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
